<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/foundation-icons.css" />
  <link rel="stylesheet" href="/css/application.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"><img class="bart-image" src="images/bart.png"> <span class="topbar-title">Schedule</span></a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="#work">Work</a></li>
          <li class="active"><a href="#home">Home</a></li>
        </ul>
      </section>
    </nav>
  </div>
  <%= yield %>
  <script src="/js/jquery-2.1.0.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/foundation.topbar.js"></script>
  <script src="/js/application.js"></script>
  <script>$(document).foundation();</script>
</body>
</html>
